.main_container {
  margin-top: 30px;
}
.userBtn {
  color: #fff;
  background-color: #202536;
  border-color: #1e2233;
  padding: 10px;
  border-radius: 5px;
  outline: unset;
  border: unset;
}
.mod_footer {
  justify-content: space-between;
}
.white_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
}
.modal_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-gap: 20px;
}
.modal_form input,
.modal_form select,
.modal_form button {
  text-align: center;
  text-transform: capitalize;
}
.modal_form button {
  grid-area: 2 / 1 / 3 / 3;
  width: 50%;
  margin: auto;
  background-color: #1d2030;
  border-color: #1d2030;
  color: #fff;
  padding: 8px;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}
