.pagination_ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0px;
  border-color: #d1d5db;

  & a {
    padding: 0.375rem 0.75rem;
    position: relative;
    display: block;
    color: #000;
    background-color: transparent;
    border: 0.0625rem solid #9ca3af;
    text-decoration: none;
    z-index: 2;
  }
}

.paginationLink {
  &:hover {
    color: #000;
    background-color: transparent;
  }
}

.paginationActive {
  & a {
    z-index: 3;
    color: #fff !important;
    background-color: #262b40;
    border-color: #262b40;
  }
}

.paginationDisabled {
  & a {
    color: #000;
    background-color: transparent;
  }
}
