h2.current_year_leave_info {
  text-align: center;
  margin-top: 50px;
  background: #000;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 25px;
  color: #fff;
  border-radius: 10px;
}
.overall {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
  padding: 1.25rem 1.5rem;
  margin-top: 30px;
}
.overall-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: end;
}
.overall-filter > div {
  width: 160px;
}
.overall-filter .btn-dark {
  height: 42px;
  box-shadow: none !important;
}
.overall-filter label {
  font-weight: 500;
  margin-bottom: 6px;
}
select.fmxw-200.d-none.d-md-inline.form-select,
.overall-filter .form-control {
  font-size: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  padding: 0.55rem 0.75rem;
  color: #4b5563;
  background-color: #e5e7eb;
  outline: 0px;
  border: unset;
  font-weight: 400;
}
.overall td,
.overall th {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.overall .table > :not(caption) > * > * {
  padding: 0.75rem 0.5rem;

  border-bottom-width: 0.0625rem;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.overall thead tr th,
.overall tbody tr td {
  width: 20%;
  text-align: center;
  vertical-align: middle;
}
thead tr th i {
  margin-left: 10px;
  cursor: pointer;
}
.overall table {
  margin-top: 40px;
}
.total_leave_detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.total_leave {
  background-color: #48d4fa;
  border-color: #48d4fa;
  color: #fff;
  padding: 10px 8px;
  border-radius: 10px;
  width: 140px;
  font-size: 14px;
  text-align: center;
  & span {
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: #262b40;
  }
}
.export_to_excel {
  text-align: end;
}
.export_to_excel button {
  color: #4b5563;
  border: 2px solid #4b5563;
  padding: 0.375rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
}
.emp_leave_list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.emp_leave_list .col-md-6:not(:last-child) {
  margin-right: 40px;
}
.emp_leave_list .col-md-5 {
  background: #fff;
  padding: 20px;
}
.dropdown-toggle::after {
  display: none;
}
@media (max-width: 768px) {
  .overall {
    padding: 1.25rem 10px;
  }
  .overall-filter > div {
    width: 155px;
  }
  .overall-filter {
    justify-content: space-around;
  }
  .main-leave {
    width: 100%;
  }
  .sub-leave {
    width: 320px;
    font-size: 12px;
  }
  .pag_head {
    flex-direction: column;
    margin-top: 25px;
  }
  .total_leave {
    margin-top: 20px;
  }
  .overall thead tr th,
  .overall tbody tr td {
    font-size: 12px;
  }
  .emp_leave_list {
    flex-direction: column;
  }
  .total_leave_detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
